
body {
    font-family:'Courier New', Courier, monospace;
}

nav {
    list-style-position: inside;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color : red;
    font-style: normal;
    text-transform: uppercase;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    
.li-center {
    display: inline-block;
}
